//
//  Config.xcconfig
//  Seashore
//
//  Created by robert engels on 1/6/19.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
MACOSX_DEPLOYMENT_TARGET = 10.9
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
//GCC_DEBUGGING_SYMBOLS=full,
DEBUG_INFORMATION_FORMAT=dwarf-with-dsym
OTHER_CFLAGS=-Werror=partial-availability -Werror=protocol
MARKETING_VERSION=3.12
CURRENT_PROJECT_VERSION=2022120902

