<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xcf</string>
				<string>XCF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XCF Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>GIMP image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XCF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gimp.xcf</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SeaDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
				<string>BMP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BMP Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows bitmap image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMP</string>
				<string>BMPf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bmp</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SeaDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pic</string>
				<string>pict</string>
				<string>PCT</string>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PICT Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>QuickDraw picture</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.pict</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SeaDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>PDF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDF Icon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Document Format (PDF)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SeaDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>JPG</string>
				<string>jpeg</string>
				<string>JPEG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>JPEG Icon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SeaDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xbm</string>
				<string>XBM</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XBM Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>X11 bitmap</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XBM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.xbitmap-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SeaDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>TIFF</string>
				<string>tif</string>
				<string>TIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TIFF Icon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TIFF image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SeaDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
				<string>PNG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PNG Icon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Network Graphics image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SeaDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jp2</string>
				<string>JP2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>JP2 Icon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jp2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG 2000 image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>jp2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg-2000</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SeaDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
				<string>GIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>GIF Icon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Graphics Interchange Format (GIF)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIF</string>
				<string>GIFf</string>
				<string>GIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SeaDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svg</string>
				<string>SVG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SVG Icon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/svg+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SVG document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>svg</string>
				<string>SVG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.svg-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SeaDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Seashore</string>
	<key>CFBundleGetInfoString</key>
	<string>Seashore 0.6 - GNU General Public License</string>
	<key>CFBundleIconFile</key>
	<string>Main Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Seashore</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.2</string>
	<key>CFBundleSignature</key>
	<string>SeSh</string>
	<key>CFBundleVersion</key>
	<string>20171025</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 1995-2010 Mark Pazolli et al.
GNU General Public License v2.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SeaApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GIMP image</string>
			<key>UTTypeIconFile</key>
			<string>XCF Icon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.gimp.xcf</string>
			<key>UTTypeReferenceURL</key>
			<string>http://henning.makholm.net/xcftools/xcfspec.txt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>XCF</string>
				<key>public.filename-extension</key>
				<array>
					<string>xcf</string>
					<string>XCF</string>
				</array>
				<key>public.mime-type</key>
				<string>image/x-xcf</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
